* {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", "MS Gothic";
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

main, main > div {
    display: flex;
    height: 100%;
    width: 100%;
}

aside {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    background: #7276EF;
}

.avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
}

.aside__avatar {
    position: absolute;
    top: 30px;
    border-radius: 23px;
}

.avatar img {
    width: 100%;
    display: block;
}

.aside__menu {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}

.aside__menu > :first-child {
    margin-bottom: 50px;
}

.aside__menu > a {
    opacity: .6;
}

.aside__menu > a.active {
    opacity: 1;
}

.wrap {
    flex: 1;
    display: flex;
}

.wrap__left {
    display: flex;
    flex-direction: column;
    max-width: 530px;
    width: 35%;
}

.functional_area {
    padding: 47px 25px;
    border-bottom: 1px solid #DCDCDC;
    font-size: 26px;
    color: #707070;
}

.functional__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.functional__btns {
    display: flex;
}

.functional__btns > a {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

select {
    width: 165px;
    height: 45px;
    text-align: center;
    border: 1px solid #D5D5D5;
    border-radius: 7px;
    font-size: 20px;
    color: #989898;
    margin-right: 20px;
}

.functional__search {
    display: flex;
}

.search__input {
    flex: 1;
    height: 45px;
    border: 1px solid #D5D5D5;
    border-radius: 7px;
    font-size: 20px;
    padding-left: 20px;
}

.room__list {
    padding: 30px;
    flex: 1;
    overflow-y: scroll;
    background: #FBFBFB;
}

.room {
    position: relative;
    display: flex;
    align-items: center;
    height: 90px;
    padding: 30px;
    border: 1px solid #DEDEDE;
    border-radius: 7px;
    margin-bottom: 20px;
    cursor: pointer;
}

.room.active {
    color: white;
    background: #7276EF;
}

.room.active .avatar {
    border: 1px white solid;
}

.room.active .room__info {
    color: white;
}

.room .avatar {
    width: 50px;
    height: 50px;
    border: 1px #DEDEDE solid;
    margin-right: 15px;
}

.room__info {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #9A9A9A;
}

.room__info > p {
    width: 100%;
}

.tips {
    position: absolute;
    right: 30px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: white;
    background: #7276EF;
    border-radius: 50%;
    line-height: 20px;
}

.wrap__right {
    flex: 1;
    display: flex;
}

.dialog {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
}

.dialog__header {
    display: flex;
    align-items: center;
    height: 110px;
    padding: 0 40px;
    border-bottom: 1px solid #DCDCDC;
    color: #9A9A9A;
}

.dialog .avatar {
    border: 1px #DEDEDE solid;
    margin-right: 15px;
}

.message-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 50px 35px;
}

.message {
    display: flex;
    align-items: end;
    margin-bottom: 50px;
}

.message.isMe {
    flex-direction: row-reverse;
    align-self: flex-end;
}

.message .avatar {
    padding: 10px;
    background: white;
    border: none;
    z-index: 2;
}

.message .avatar > img {
    border-radius: 50%;
}

.message > :last-child {
    margin: 0 0 0 -50px;
}

.message.isMe > :last-child {
    margin: 0 -35px 0 0;
}

.message span {
    font-size: 14px;
    color: #BBBBBB;
    margin-left: 40px;
}

.notice {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: white;
    font-size: 14px;
}

.notice p {
    padding: 5px 30px;
    background: #cfcdcd;
    border-radius: 20px;
}

.message.isMe span {
    margin-right: 40px;
    float: right;
}

.message__content {
    padding: 25px 50px;
    border-radius: 25px;
    background: #F5F6FA;
    font-size: 18px;
}

.message__content * {
    font-family: "Segoe UI", sans-serif;
}

.message-list div:last-child .message {
    margin-bottom: 0;
}

.input-wrap {
    display: flex;
    align-items: center;
    padding: 0 40px;
    height: 100px;
    border-top: 1px solid #DCDCDC;
}

.input-wrap input {
    flex: 1;
    margin: 0 30px;
    height: 100%;
    border: none;
    font-size: 20px;
    font-family: "Segoe UI", sans-serif;
}

.send-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    background: #7276ef;
    border-radius: 50%;
}

.room-details {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    width: 30%;
}

.details__header {
    display: flex;
    align-items: center;
    height: 110px;
    padding: 40px 25px;
    border-bottom: 1px solid #DCDCDC;
    font-size: 24px;
    color: #9A9A9A;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.introduction span {
    color: #9A9A9A;
    font-size: 26px;
}

.introduction p {
    color: #BBBBBB;
}

.details__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
}

.introduction .avatar {
    width: 136px;
    height: 136px;
    border: 1px solid #DCDCDC;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login > * {
    width: 310px;
    margin-bottom: 30px;
}

h1 {
    font-size: 100px;
}

.login input {
    height: 50px;
    font-size: 18px;
    padding: 5px;
}

.select-img {
    display: flex;
    justify-content: space-between;
}

.login img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.select-img > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    transition: .3s;
    cursor: pointer;
}

.select-img > img.active {
    transform: scale(.9);
    box-shadow: 0 0 10px rgba(114, 118, 239, 1);
}

button{
    height: 50px;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}

.many-people{
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    overflow-y: scroll;
}

.people{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 20px;
    color: #BBBBBB;
    text-align: center;
}

.people .avatar {
    width: 70px;
    height: 70px;
    border: 1px solid #DCDCDC;
}

.spanStyle {
    display: inline-block;
    white-space: normal;
    width: 150px;
    overflow: hidden; /*超出的文本隐藏*/
    text-overflow: ellipsis; /* 溢出用省略号*/
}